@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.accordion-container {
    width: 100%;
  }
  
  .accordion-item {
    @extend .dark-border-1;
    margin-bottom: 10px;
  }
  
  .accordion-item.active {
    @extend .dark-gray;
  }
  
  .accordion-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .role-name {
    @extend .paragraph3;
    flex: 1;
    color: white;
  }
  
  .arrow-icon {
    width: 30px;
    height: 30px;
    position: relative;
  
    &::before,
    &::after {
      content: '';
      width: 18.75px;
      height: 11.25px;
      left: 5.62px;
      position: absolute;
      background: white;
    }
  
    &::before {
      top: 9.38px;
    }
  
    &::after {
      top: 20.62px;
    }
  }
  
  .accordion-content {
    @extend .paragraph3;
    padding: 10px;
    color: white;
  }
  