@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

.outer-container {
    @extend .dark-gray-container;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 11%;
    margin: 3% 0;
    
    .inner-container {
    box-sizing: border-box;
    background: white;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5%;

    
    .heading {
        @extend .dark-gray;
        @extend .heading2;
        box-sizing:border-box;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .subheading {
        @extend .dark-gray;
        @extend .subheading1;
        line-height: 60%;
        box-sizing: border-box;
        text-align: center;
        margin: 0;
        padding: 1% 0 0 0;
    }

    .content {
        @extend .dark-gray;
        @extend .paragraph3;
        box-sizing: border-box;
        margin: 0;
        padding: 5% 0 0 0;
    }
}
}