@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.dropdown {
  @extend .paragraph4;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 10%;
    // align-items: center;
    // justify-content: center;

    .selected-option {
      cursor: pointer;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      min-width: 150px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .options {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      border: 1px solid #ccc;
      border-top: none;
      border-radius: 0 0 4px 4px;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      z-index: 2;

      .option {
        padding: 10px;
        cursor: pointer;
  
        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
  