.dark-gray {
    color: #33343F;
}

.dark-gray-container {
    background: #33343F;
}

.light-gray-container {
    background: #555668;
}
.lighter-gray {
    background: #F7F7F7
}

.dark-border-6 {
    border: 6px #33343F solid;
}

.dark-border-3 {
    border: 3px #33343F solid;
}

.dark-border-1 {
    border: 1px #33343F solid;
}

.divider {
    border-top: 4px #33343F solid;
    // border-bottom: 4px #33343F solid; 
}

.logo-color-light {
    color: #A1C1E7;
}

.logo-color-dark {
    color: #8eb7e8;
}