@import url('https://fonts.googleapis.com/css2?family=Armata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Armata&family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.menu {
    font-size: 16px;
    font-family: 'Azeret Mono';
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: nowrap;
}

.heading1 {
    font-size: 70px;
    font-family: 'Azeret Mono';
    font-weight: bold;
    line-height: 20%;
    letter-spacing: 0%;
    text-transform: uppercase;
    word-wrap: break-word;
    width: fit-content;
}

.heading2 {
    font-size: 40px;
    font-family: 'Azeret Mono';
    font-weight: bold;
    line-height: 120%;
    text-transform: uppercase;
    word-wrap: break-word;
}

.heading3 {
    font-size: 20px;
    font-family: 'Azeret Mono';
    font-weight: bold;
    line-height: 175%;
    text-transform: capitalize;
    word-wrap: break-word;
}

.subheading1 {
    font-size: 18px;
    font-family: 'Azeret Mono';
    font-weight: 300;
    font-style: italic;
    line-height: 167%;
    text-transform: capitalize;
    word-wrap: break-word;
    width: fit-content;
}

.paragraph1 {
    font-size: 25px;
    font-family: 'Azeret Mono';
    line-height: 167%;
    text-transform: uppercase;
    word-wrap: break-word;
}

.paragraph2 {
    font-size: 20px;
    font-family: 'Armata';
    line-height: 175%;
    word-wrap: break-word;
}

.paragraph3 {
    font-size: 15px;
    font-family: 'Armata';
    line-height: 175%;
    font-weight: 100;
    word-wrap: break-word;
}

.paragraph4 {
    font-size: 13px;
    font-family: 'Armata';
    font-weight: 100;
    line-height: 188%;
    word-wrap: break-word;
}

@media (max-width: 900px) {
    .heading1 {
        font-size: 60px;
    }
    .subheading1 {
        font-size: 15px;
    }
    .paragraph1 {
        font-size: 20px;
    }
    .paragraph3 {
        font-size: 13px;
    }
    .menu {
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .paragraph1 {
        font-size: 15px;
    }
    .menu {
        font-size: 10px;
    }
}