// ExecutiveAccordion.scss
@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.accordion-container {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 1% 0;

  .accordion-item {
    @extend .dark-gray-container;
    // @extend .dark-border-3;
    padding: 1% 2%;
    margin: 0;
    margin-bottom: 1%;

    &.active {
      .accordion-content {
        display: block;
      }
    }

    .accordion-header {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      padding-bottom: 1%;
      border-bottom: 1px solid white;

      .role-name {
        @extend .paragraph3;
        font-weight: 400;
        color: white;
        text-transform: capitalize;
      }

      .arrow-icon {
        box-sizing: border-box;
        width: 2%;
        height: auto;
        position: relative;
        padding: 0;
        margin: 0;
      }
    }

    .accordion-content {
      @extend .paragraph4;
      font-weight: 100;
      color: white;
      display: none;

      div {
        margin: 0;
        padding: 0;
        color: white;
      }
    }
  }
}
