@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import "../../components/HomeButton/HomeButton.scss";

.home-section2 {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0;
  margin: 0 9.5%;
  margin-top: 6%;

  .home-section2-picture {
    height: 100%;
    object-fit: cover;
    position: relative;
    width: auto;
    margin: 0;
    padding: 0;
  }

  .home-section2-content {
    @extend .dark-gray-container;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    position: relative;
    margin: 0;
    box-sizing: border-box; // Include padding in width calculation

    padding: 60px 100px 60px 70px; // Adjust padding as needed
    margin-left: -50px;

    .home-section2-title {
      @extend .paragraph1;
      color: white;
      font-style: italic;
      font-weight: 500;
      line-height: 90%;
      position: relative;
      margin: 0;
      padding: 0;
    }

    .home-section2-frame {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      margin: 0;
      padding: 0;

      .home-section2-subtitle {
        @extend .paragraph3;
        color: white;
        position: relative;
        line-height: 70%;
        margin: 0;
        padding: 0;
      }

      .btn {
        @extend .dark-gray;
        background: white;
        // Add more button styles as needed
      }
    }
  }
}
