@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.btn {
    @extend .dark-gray-container;
    @extend .menu;
    color: white;
    padding: 10px;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.btn:hover {
    @extend .light-gray-container;
}