@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';

.about-gtkcs-container {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 23px;
    display: inline-flex;
  
    .about-gtkcs-image {
      width: 643px;
      height: 501px;
    }
  
    .about-gtkcs-content {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 50px;
      display: inline-flex;
  
      .about-gtkcs-title {
        @extend .dark-gray;
        @extend .heading2;
      }
  
      .about-gtkcs-description {
        @extend .dark-gray;
        @extend .subheading1;
        font-weight: bold;
      }
  
      .about-gtkcs-details {
        @extend .dark-gray;
        @extend .paragraph4;
        font-weight: 400;
        width: 455px;
      }
    }
  }