@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';

.about-gtkcs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0;
    margin: 3% 11%;
  
    .about-gtkcs-image {
        height: 100%;
        object-fit: cover;
        position: relative;
        width: auto;
        padding: 0;
        margin: 0;
    }
  
    .about-gtkcs-content {
        box-sizing: border-box;
        // background: lightgray;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: fit-content;
        position: relative;
        margin: 0;
        padding: 1% 2%;
  
      .about-gtkcs-title {
        @extend .dark-gray;
        @extend .heading2;
        position: relative;
        margin: 0;
        padding: 0;
      }
  
      .about-gtkcs-subtitle {
        @extend .dark-gray;
        @extend .subheading1;
        box-sizing: border-box;
        font-weight: bold;
        line-height: 70%;
        font-weight: 300;
        margin: 0;
        padding: 5% 0 0 0;
      }
  
      .about-gtkcs-description {
        @extend .dark-gray;
        @extend .paragraph4;
        box-sizing: border-box;
        font-weight: 400;
        margin: 0;
        padding: 10% 0 0 0;
      }
    }
  }