@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.program-item {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

.program-item img {
    width: 304px;
    height: 300px;
}

.program-overlay {
    width: 304px;
    height: 160px;
    position: relative;
}

.program-overlay > div {
    @extend .dark-gray;
    width: 304px;
    height: 160px;
    position: absolute;
}

.program-details {
    width: 272px;
    height: 89.60px;
    left: 16px;
    top: 25.60px;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    display: inline-flex;
}

.program-name {
    @extend .paragraph3;
    text-align: center;
    color: white;
    font-family: Azeret Mono;
}

.program-description {
    @extend .paragraph4;
    text-align: center;
    color: white;
}

