// ProgramContainer.scss
@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.program-item {
//   background: lightblue;
  display: flex;
  flex-direction: column;
  flex: 0 0 30%;
  padding: 0 0 3% 0;
  margin: 0;
  box-sizing: border-box; 

  .img {
    // width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }
  
  .program-details {
    @extend .dark-gray-container;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10% 5%;
    margin: 0;
    height: 50%;
  
    .program-name {
      @extend .paragraph3;
      text-align: center;
      color: white;
      font-family: Azeret Mono;
      padding: 0;
      margin: 0;
    }
    
    .program-description {
      @extend .paragraph4;
      text-align: center;
      color: white;
      padding: 0;
      margin: 0;
    }
  }
}
