@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.resource-link-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .resource-link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .link-title {
    @extend .dark-gray;
    @extend .paragraph2;
    font-family: 'Azeret Mono';
    text-transform: uppercase;
  }
  
  .link-button {
    @extend .dark-gray;
    @extend .paragraph4;
    padding: 10px;
    color: white;
    font-family: 'Azeret Mono';
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
  
  .divider {
    @extend .dark-gray;
    height: 2px;
    width: 100%;
  }
  