@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';

.program-title-container {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
    padding: 0;
    margin: 3% 0;

    .program-title {
        @extend .dark-gray;
        @extend .heading2;
        text-align: center;
    }
    
    .program-subtitle {
        @extend .dark-gray;
        @extend .subheading1;
        text-align: center;
    }
}