@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.signup-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 10%;

    .title {
        @extend .paragraph1;
        padding: 0;
        margin-bottom: 10px;
    }

    .text-wrapper-3 {
        @extend .paragraph4;
        margin: 0;
    }

    .signup-content {
        margin-top: 20px;
        display: flex;
        flex-direction: column; 
        align-items: start;
        width: 80%;

        .signup-section {
            margin-bottom: 20px;
            width: 100%;

            .text-wrapper-1 {
                @extend .paragraph3;
                margin-bottom: 10px;
                width: 100%;
                // background-color: black;
            }

            .container {
                display: flex;
                flex-direction: row;
                width: 100%;

                .text-wrapper-2 {
                    @extend .paragraph4;
                    box-sizing: border-box;
                    padding: 10px;
                    width: 100%;
                    height: 40px;
                    justify-content: center;
                }

                .text-wrapper-3 {
                    @extend .paragraph4;
                }
            }
        }
    }

    @media only screen and (max-width: 900px) {
        padding: 10% 5%;
        height: auto;
    }
}
