@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.home-title-container {
  box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    display: flex;
    justify-content: space-between;
  
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0%;

    .main-title {
      @extend .dark-gray;
      @extend .heading1;
      word-wrap: break-word;
      margin: 0%;
      width: 70%;
    }
    
    .subtitle {
      @extend .dark-gray;
      @extend .subheading1;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      display: flex;
      margin: 0%;
      width: 70%;
      margin-top: 5%;
    }

    @import "../../components/HomeButton/HomeButton.scss";
  }

  .title-image {
    width: 50%;
  }
}

.mission-section-container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;

  .mission-image {
    width: calc(40% + 100px);
    height: 700px;
    margin-left: 100px;
    object-fit: cover;
  }
  
  .text-container {
    @extend .dark-gray-container;
    position: absolute;
    top: 0;
    right: 0;
    width: calc(40% - 100px);
    height: auto;
    padding: 3% 13% 3% 3%;
    margin-top: 1%;
    margin-right: 0%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;

    .main-text {
      @extend .heading4;
      align-self: stretch;
      color: white;
      font-style: italic;
      text-transform: uppercase;
      line-height: 250%;
      margin-bottom: 10px;
      width: 75%;
    }
    
    .description-container {
      align-self: stretch;
      margin: 0%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      display: flex;

      .description {
        @extend .paragraph3;
        width: 100%;
        color: white;
      }
      @import "../../components/HomeButton/HomeButton.scss";
      .custom-btn {
        @extend .dark-gray;
        background: white;
      }
    }
  }

  @media (max-width: 768px) {
    .text-container {
      width: 90%; 
      padding: 20px;
    }

    .mission-image {
      width: 100%;
      height: auto;
      margin-left: 0;
    }
  }
}
