@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.home-title-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  margin: 2% 0%;
  display: flex;
  justify-content: space-between;
  
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0%;

    .main-title {
      @extend .dark-gray;
      @extend .heading1;
      word-wrap: break-word;
      margin: 2% 0%;
      width: 80%;
    }
    
    .subtitle {
      @extend .dark-gray;
      @extend .subheading1;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      display: flex;
      margin: 2% 0%;
      width: 70%;
    }

    @import "../../components/HomeButton/HomeButton.scss";
  }

  .title-image {
    width: 50%;
    margin: 0;
    padding: 0;
    object-fit: cover;
  }
}

.mission-section-container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 10% 0 10%;
  margin: 2% 0%;
  justify-content: flex-start;
  align-items: center;
  display: flex;

  .mission-image {
    width: 40%; /* Adjust the width */
    height: auto; /* Let height adjust dynamically based on content */
    object-fit: cover;
  }
  
  .text-container {
    @extend .dark-gray-container;
    position: absolute;
    top: 0;
    right: 0;
    width: calc(50% - 100px); /* Adjust the width */
    height: auto;
    padding: 5% 8% 2% 5%; //top right bottom left
    margin-top: 1%;
    margin-right: 0%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;

    .main-text {
      @extend .heading4;
      align-self: stretch;
      color: white;
      font-style: italic;
      text-transform: uppercase;
      line-height: 200%;
      font-size: 30px;
      margin: 0 0 10% 0;
      width: 100%;
    }
    
    .description-container {
      align-self: stretch;
      margin: 0;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      display: flex;

      .description {
        @extend .paragraph3;
        width: 90%;
        color: white;
        margin: 0;
      }
      
      @import "../../components/HomeButton/HomeButton.scss";
      .btn {
        @extend .dark-gray;
        background: white;
        font-weight: normal;
      }
    }
  }

  @media (max-width: 768px) {
    .text-container {
      width: 90%; 
      padding: 20px;
    }

    .mission-image {
      width: 100%;
      height: auto;
    }
  }
}


