@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.footer-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 3% 10%;
  margin: 0%;
  background: #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    padding: 50px 20px;
  }

  .footer-phrase-container {
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    .footer-phrase {
      @extend .dark-gray;
      @extend .subheading1;
      font-size: 30px;
      line-height: 200%;
      margin: 0%;
    }
  }

  .footer-link-container {
    flex: 1 1 0;
    display: flex;
    margin: 0%;

    .footer-column {
      flex: 1 1 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0%;

      .footer-each-section-title {
        font-weight: bold;
      }

      .footer-each-section-title,
      .footer-each-section {
        @extend .dark-gray;
        @extend .menu;
        margin: 3% 0%;
        text-transform: none;
        align-self: stretch;
        white-space: nowrap;
      }

      .footer-section-container-1,
      .footer-section-container-2,
      .footer-section-container-3 {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 3% 0%;
      }
    }
  }
}
