@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.footer {
  // align-items: flex-start;
  background-color: #D9D9D9;
  display: flex;
  gap: 10%;
  padding: 2% 10%;
  position: relative;
  width: 100vw;
  margin: 0;

  .frame {
    text-align: left;
    justify-content: center;
    position: relative;

    .footer-phrase {
      @extend .dark-gray;
      @extend .paragraph1;
      font-style: italic;
      position: relative;
      width: fit-content;
    }
  }

  .div {
    display: flex;
    position: relative;
    text-align: left;
    margin: 0;

    .frame-2 {
      display: flex;
      flex-direction: column;
      position: relative;

      .text-wrapper-2 {
        @extend .dark-gray;
        @extend .menu;
        font-weight: bold;
        margin-top: -1px;
        position: relative;
      }

      .frame-3 {
        display: flex;
        flex-direction: column;
        position: relative;

        .text-wrapper-3 {
          @extend .dark-gray;
          @extend .menu;
          margin-top: -1px;
          position: relative;
        }
      }
    }
  }
}
