@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.footer {
  box-sizing: border-box;
  // align-items: flex-start;
  background-color: #D9D9D9;
  display: flex;
  // gap: 10%;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  margin-top: 2%;
  padding: 3% 11%;

  .footer-phrase {
    @extend .dark-gray;
    @extend .paragraph1;
    text-transform: capitalize;
    font-weight: 300;
    font-style: italic;
    line-height: 80%;
    justify-content: center;
    position: relative;
    width: fit-content;
    padding: 0;
    margin: 0;
  }

  .footer-link-container {
    // background: white;
    box-sizing: border-box;
    display: flex;
    position: relative;
    text-align: left;
    justify-content: space-between;
    align-items: flex-start;
    width: 35%;
    // height: 40%;
    margin: 0;
    padding: 0;

    .footer-frame {
      // background: lightgreen;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 0;
      margin: 0;
      // height: 100%;

      .footer-wrapper-bolded {
        @extend .dark-gray;
        @extend .menu;
        box-sizing: border-box;
        text-transform: capitalize;
        font-weight: 700;
        position: relative;
        padding: 10px 0;
        margin: 0;
      }
      .footer-wrapper {
        @extend .dark-gray;
        @extend .menu;
        box-sizing: border-box;
        text-transform: capitalize;
        position: relative;
        font-weight: 300;
        padding: 10px 0;
        margin: 0;
        cursor: pointer;
      }
      .footer-wrapper:hover {
        text-decoration: underline;
        font-weight: 500;
      }
    }
  }
}
