@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.btn {
  @extend .dark-gray-container;
  @extend .menu;
  color: white;
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 50px;
  text-transform: uppercase;
  word-wrap: break-word;
  
  &.white {
    border: 1px #33343F solid;
    color: #33343F;
    background-color: white;
    
    &:hover {
        @extend .logo-color-light;
        border-color: #898b9c;
    }
  }

  &.gray {
    background: #33343F;
    color: white;

    &:hover {
        background: #898b9c;
    }
  }

  &.joinus {
    @extend .dark-gray;
    background: white;

    &:hover {
        background: #898b9c;
        color: white;
    }
  }
}
