@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.program-title-container {
    // width: 100%;
    flex-direction: column;
    // justify-content: flex-start;
    align-items: center;
    // background-color: black
    text-align: center;
    display: flex;
    padding: 0;
    margin: 3% 0;

    .program-title {
        @extend .dark-gray;
        @extend .heading2;
        // text-align: center;
    }
    
    .program-subtitle {
        @extend .dark-gray;
        @extend .subheading1;
        // text-align: center;
    }
    @media only screen and (max-width: 900px) {
      padding: 2% 5%;
    }
}

.programs-content {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    margin: 1% 0;
    padding: 0 15%;
  
    .program-row {
      display: flex;
      box-sizing: border-box;
      justify-content: space-between;
      width: 100%;
      padding: 0;
      margin: 0;

      .program-item {
        width: 20%;
        box-sizing: border-box;
      }
    }

    @media only screen and (max-width: 900px) {
      padding: 2% 5%;
    }
  }
  