@import '../../styles/colors.scss';

.header-container {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 500px;
  display: inline-flex;

  .logo {
    width: 76px;
    height: 76px;
    border-radius: 9999px;
  }

  .navbar {
    justify-content: flex-start;
    align-items: center;
    gap: 26px;
    display: flex;

    .nav-buttons {
      justify-content: flex-start;
      align-items: flex-start;
      gap: 17px;
      display: flex;

      .nav-button {
        color: #33343F;
        font-size: 16px;
        font-family: 'Azeret Mono', monospace;
        font-weight: 400;
        text-transform: uppercase;
        word-wrap: break-word;
        @extend .dark-gray;
      }
    }

    .join-us-button {
      padding: 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      display: flex;
      font-size: 16px;
      font-family: 'Azeret Mono', monospace;
      font-weight: 400;
      text-transform: uppercase;
      word-wrap: break-word;
      cursor: pointer;
      @extend .dark-gray;
    }
  }
}
