@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.header {
  // box-sizing: border-box;
  background: lightblue;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  // width: 100vw;
  // margin: 0 9.5%;
  margin-left: 9.5%;
  margin-right: 9.5%;
  margin-top: 3.5%;
  padding: 0;

  .logo {
    height: 76px;
    width: 76px;
    object-fit: cover;
    position: relative;
    margin: 0;
    padding: 0;
  }

  .navbar {
    // background: darkgray;
    display: flex;
    // justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    gap: 3%;

    a {
      @extend .dark-gray;
      @extend .menu;
      box-sizing: border-box;
      flex: 0 0 auto;
      flex-shrink: 0;
      // gap: 5%;
      position: relative;
      width: fit-content;
      margin: 0;
      padding: 0;
      // margin-left: 3%;
      text-decoration: none;

      &:hover {
        color: darkblue;
        text-decoration: underline;
      }
    }

    .btn {
      box-sizing: border-box;
      // margin-left: 3%;
      margin-right: 0;
      flex: 0 0 auto;
      flex-shrink: 0;
    }
  }
}
